<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/ReCServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ReCServices.Models.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ReCServices.Models.ApplicationDbContext, ReCServices" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WS_CONTEXT" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ReCServices.WS_CONTEXT, ReCServices" MigrationConfiguration="ReCServices.Migrations.Configuration, ReCServices" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WS_PROD" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=142.4.217.176,1434;Initial Catalog=rec_WS2_MonitoreoGCC;User ID=rec_wserp;Password=wserp%" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WS_PROD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=142.4.217.176,1434;Initial Catalog=rec_WS2_MonitoreoGCC;User Id=rec_wserp;Password=wserp%;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WS_TEST" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=142.4.217.176,1434;Initial Catalog=rec_WSTEST_MonitoreoGCC;User ID=rec_WSTEST;Password=wstest321" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WS_TEST_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=142.4.217.176,1434;Initial Catalog=rec_WSTEST_MonitoreoGCC;User Id=rec_WSTEST;Password=wstest321;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WS_CONTEXT_PROD" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=142.4.217.176,1434;Initial Catalog=rec_WS2_MonitoreoGCC;User ID=rec_wserp;Password=wserp%;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WS_CONTEXT_PROD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/WS_MODEL.csdl|res://*/WS_MODEL.ssdl|res://*/WS_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=142.4.217.176,1434;initial catalog=rec_WS2_MonitoreoGCC;user id=rec_wserp;password=wserp%;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WS_CONTEXT_TEST" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=142.4.217.176,1434;Initial Catalog=rec_WSTEST_MonitoreoGCC;User ID=rec_WSTEST;Password=wstest321;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WS_CONTEXT_TEST_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/WS_MODEL.csdl|res://*/WS_MODEL.ssdl|res://*/WS_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=142.4.217.176,1434;initial catalog=rec_WSTEST_MonitoreoGCC;user id=rec_WSTEST;password=wstest321;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Monitoreo" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ReCServices.Monitoreo, ReCServices" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Monitoreo-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ReCServices.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WS_CONTEXT_PROD-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WS_CONTEXT_TEST-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WS_PROD-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WS_TEST-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ReCServices.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>